keybinds {
    shared_except "locked" {
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Ctrl q" { Quit; }
        bind "Alt n" { NewTab; SwitchToMode "Normal"; }
        bind "Alt 1" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "Alt 2" { NewPane "Down"; SwitchToMode "Normal";}
        bind "Alt 3" { CloseFocus; SwitchToMode "Normal"; }
        bind "Alt +" "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt k" { PreviousSwapLayout; SwitchToMode "Normal"; }
        bind "Alt l" { NextSwapLayout; SwitchToMode "Normal"; }
        bind "F3" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "Alt f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "Alt x" { SwitchFocus; SwitchToMode "Normal"; }
        bind "Alt r" { SwitchToMode "RenamePane"; PaneNameInput 0; }
    }
    shared_except "tab" "locked" {
        bind "F10" { SwitchToMode "Tab"; }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}

themes {
    dracula {
        fg 248 248 242
        bg 40 42 54
        red 255 85 85
        green 80 250 123
        yellow 241 250 140
        blue 98 114 164
        magenta 255 121 198
        orange 255 184 108
        cyan 139 233 253
        black 0 0 0
        white 255 255 255
    }

    gruvbox-dark {
        fg "#D5C4A1"
        bg "#282828"
        black "#3C3836"
        red "#CC241D"
        green "#98971A"
        yellow "#D79921"
        blue "#3C8588"
        magenta "#B16286"
        cyan "#689D6A"
        white "#FBF1C7"
        orange "#D65D0E"
    }

    catppuccin-frappe {
        bg "#626880"
        fg "#c6d0f5"
        red "#e78284"
        green "#a6d189"
        blue "#8caaee"
        yellow "#e5c890"
        magenta "#f4b8e4"
        orange "#ef9f76"
        cyan "#99d1db"
        black "#292c3c"
        white "#c6d0f5"
    }
}

theme "catppuccin-frappe"

pane_frames false

default_layout "compact"

//copy_command "xclip -selection clipboard" // x11
//copy_command "wl-copy" // wayland

ui {
    pane_frames {
        hide_session_name true
    }
}
